.inputs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.output {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  .cell {
    width: 100%;
    height: 20px;
    background-color: lime;

    &.playerColor {
      background-color: var(--player-color);
    }

    &.aiColor {
      background-color: var(--ai-color);
    }
  }
}
